body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  transition: transform 0.3s ease;
  background-color: rgb(255, 255, 255)
}

.card:hover {
  transform: scale(1.02);
}

